.container {
  display: flex;
}
.controls {
  flex: 1;
  max-width: 300px;
  margin-right: 20px;
}
.svg-container {
  flex: 3;
}

svg rect {
  stroke: #DADADA;
  stroke-width: 1px;
  fill: #EEEEEE;
}

svg rect:hover {
  stroke-width: 1px;
  stroke: #B5B5B5
}

.primary {
  stroke: #485FC7 !important;
}

.secondary {
  stroke: #485FC7 !important;
  stroke-dasharray: 4 4 !important;
}

.unselected {
  stroke: #DDDDDD;
}

.container {
  display:inline-block
}

.dropdown.is-active .dropdown-menu {
  display: block;
}
