<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Toggle Rectangles</title>
  <meta charset='UTF-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bulma.min.css">
  <link rel='stylesheet' href='/static/css/main.css'>
  <script src='/static/htmx.min.js'></script>
  <script src='/static/main.js'></script>
</head>
<body>
  <div id='controls-container' class='container'>
    <button
      id='submit'
      class='button'
      hx-post='/update'
      hx-trigger='click'
      hx-vals='js:{primary: ids_by_class("primary"), secondary: ids_by_class("secondary")}'
      hx-target='#svg-container'
      hx-swap='innerHTML'>Submit</button>

    <div class="select">
      <select>
        <option>Select dropdown</option>
        <option>With options</option>
      </select>
    </div>
    <div id='svg-container' class='container'>{{svg|safe}}</div>
</body>
</html>
